<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="description" content="专题活动管理后台"/>
    <meta name="keywords" content="专题活动管理后台"/>
    <meta name="author" content="name, sycbbb@sina.com"/>
    <meta name="robots" content="index,follow"/>
	<title>专题活动管理后台</title>
	<link rel="stylesheet" href="../plugins/colpick/colpick.css">
	<link rel="stylesheet" href="../plugins/wangEditor/wangEditor.min.css">
	<link rel="stylesheet" href="../plugins/swiper/swiper-4.2.0.min.css">
	<link rel="stylesheet" href="../plugins/jquery-date-range-picker-master/dist/daterangepicker.css">
	<link rel="stylesheet" href="../styles/css/index.css">
	<style>
		.w-e-toolbar{flex-wrap:wrap}
		.w-e-text-container{height:100px !important;}
	</style>
</head>
<body>
    <div class="container">
		<div class="decorator-container">
			<div class="decorator-header">
				<div class="l">专题活动管理后台</div>
				<div class="r">
					<a href="javascript:;">保存设置</a>
					<a href="javascript:;" onclick="previewHtml();">预览</a>
				</div>
			</div>
			<div class="decorator-side-bar">
				<ul>
					<li class="on">基础设置</li>
					<li>添加模块</li>
				</ul>
				<div class="list">
					<dl>
						<dd data-id="1">banner设置</dd>
						<dd draggable="true" data-id="2">立减/折扣活动</dd>
						<dd draggable="true" data-id="3">立减/折扣不限</dd>
						<dd draggable="true" data-id="4">一口价</dd>		
						<dd draggable="true" data-id="5">一口价不限制</dd>		
						<dd draggable="true" data-id="6">主题房活动</dd>
						<dd draggable="true" data-id="7">主题房不限制</dd>
						<dd draggable="true" data-id="8">一图模块</dd>
						<dd draggable="true" data-id="9">二图模块</dd>
						<dd draggable="true" data-id="10">底部栏</dd>
					</dl>
				</div>
			</div>
			<div class="decorator-right-content">
				<div class="page-settings" data-id="1" style="display:block;">
					<div class="title"><h3>页面设置</h3></div>
					<div class="page-name">
						<p>页面名称</p>
						<input type="text">
						<p>必填</p>
					</div>
					<div class="background-picture">
						<p>背景图片</p>
						<div class="upload-img">
							<em></em>
							<em></em>
							<input type="file" onchange="preview(this,1048576)" accept="image/gif, image/jpeg" >
							<div class="add-img"></div>
						</div>	
						<p>（上传图片为jpg/jpeg/gif/png/bmp，大小不超过1M）非必填</p>
					</div>
					<div class="background-color">
						<p>背景颜色</p>
						<div class="rule-color-content">
							<input type="text" id="picker">
						</div>
						<p>（用于背景颜色显示）非必填</p>
					</div>
					<div class="title"><h3>分享设置</h3></div>
					<div class="share-name">
						<p>分享标题</p>
						<input type="text">
						<p>必填</p>
					</div>
					<div class="share-copy">
						<p>分享文案</p>
						<input type="text">
						<p>必填</p>
					</div>
					<div class="share-picture">
						<p>分享小图</p>
						<div class="upload-img">
							<em></em>
							<em></em>
							<input type="file" accept="image/gif, image/jpeg" onchange="preview(this,204800)" >
							<div class="add-img"></div>
						</div>	
						<p>（300*300，大小不超过50k）必填</p>
					</div>
					<a href="javascript:;" onclick="settingPreserve()">保存</a>
				</div>
				<div class="page-module" data-id="2">
					<div class="previewer-component">
						<iframe id="iframe" src="web-index.html" frameborder="0" scrolling="no"></iframe>
					</div>
					<div class="banner-rule-variable variable" data-id="1">
						<h3>banner设置</h3>
						<p>（备注：建议上传宽度640，高度不限，格式为png或jpg格式）</p>
						<ul>
							<li class="on">banner设置</li>
							<li>规则设置</li>
						</ul>
						<div class="variable-all">
							<div class="banner-variable" data-id="0">
								<div class="banner-variable-list"></div>
								<a class="add-banner-btn" href="javascript:;" onclick="addImg();">
									<div class="add"><em></em><em></em></div>
									<span>添加banner</span>
								</a>
								<a class="btn" onclick="bannerSetting(this)" href="javascript:;">保存</a>
							</div>
							<div class="rule-variable" data-id="1">
								<h5>规则弹窗按钮图片</h5>
								<div class="upload-img" style="margin:0;">
									<em></em>
									<em></em>
									<input type="file" onchange="preview(this,1048576)" accept="image/gif, image/jpeg" >
									<div class="add-img"></div>
								</div>
								<p>备注：规格大小1*1,大小不超过50k</p>
								<h5>规则弹窗标题</h5>
								<input class="rule-tilte" type="text">
								<p>备注：用于弹窗标题显示</p>
								<h5>规则弹窗标题颜色</h5>
								<div class="rule-variable-colour">
									<input type="text" id="picker1">
								</div>
								<p>备注：用于弹窗标题颜色显示</p>
								<h5>规则内容</h5>
								<div id="ruleText"></div>
								<p>备注：建议文字最大字号为14px</p>
								<a href="javascript:;" onclick="bannerRuleSetting()" class="btn">保存</a>
							</div>
						</div>	
					</div>
					<div class="decorator-variable variable">
						<h3>立减/折扣活动设置</h3>
						<ul>
							<li class="on">标题设置</li>
							<li>专区设置</li>
							<li>活动码设置</li>
							<li>预订时间</li>
							<li>自定义样式</li>
						</ul>
						<div class="decorator-variable-list">
							<div class="dvl-title-setting" data-id="0" style="display:block;">
								<h5>上传标题图片</h5>
								<div class="upload-img-big" style="    margin: 0;">
									<em></em>
									<em></em>
									<input type="file" onchange="preview(this,1048576)" accept="image/gif, image/jpeg" >
									<div class="add-img"></div>
								</div>
								<p>（建议选择宽度为640，高度不限，类型为jpg、png格式图片）</p>
								<h5>活动规则按钮</h5>
								<div class="upload-img" style="    margin: 0;">
									<em></em>
									<em></em>
									<input name="" type="file" onchange="preview(this,1048576)" accept="image/gif, image/jpeg" >
									<div class="add-img"></div>
								</div>
								<p>（备注：上传图片规格为xxx*xxx，大小不超过xk）</p>
								<h5>规则弹窗标题</h5>
								<input class="rule-title" type="text">
								<h5>规则弹窗标题颜色</h5>
								<div class="rule-variable-colour">
									<input type="text" id="newpicker0">
								</div>
								<h5>活动规则内容</h5>
								<div id="newruleText0"></div>
								<a onclick="discountTitleSetting('.decorator-variable','.discount-wrapper',0);" href="javascript:;" class="btn">保存</a>
							</div>
							<div class="dvl-prefecture-setting" data-id="1">
								<h5>显示城市选择</h5>
								<select name="" class="select-city">
									<option value="0">是</option>
									<option value="1">否</option>
								</select>
								<h5>默认显示城市</h5>
								<select name="" class="show-city">
									<option value="0">全国</option>
									<option value="1">广州</option>
									<option value="2">深圳</option>
									<option value="3">佛山</option>
								</select>
								<h5>酒店显示数量</h5>
								<select name="" id="">
									<option value="">2</option>
									<option value="">4</option>
									<option value="">6</option>
									<option value="">8</option>
								</select>
								<h5>显示行政区</h5>
								<select name="" class="show-canton">
									<option value="0">是</option>
									<option value="1">否</option>
								</select>
								<h5>酒店排序规则</h5>
								<select name="" id="">
									<option value="">价格由低到高</option>
									<option value="">价格由高到低</option>
									<option value="">7天销量+评价排序</option>
								</select>
								<h5>酒店更新规则</h5>
								<select name="" id="">
									<option value="">2小时更新</option>
									<option value="">无</option>
								</select>
								<h5>门店更新规则</h5>
								<div class="upload-img" style="margin:0;">
									<em></em>
									<em></em>
									<input type="file" onchange="preview(this,1048576)" accept="image/gif, image/jpeg" >
									<div class="add-img"></div>
								</div>
								<p>（备注：上传图片规格为xxx*xxx，大小不超过xk）</p>
								<h5>查看更多链接</h5>
								<input type="text" class="see-more-src">
								<a class="btn" href="javascript:;" onclick="discountPrefectureSetting('.decorator-variable','.discount-wrapper');">保存</a>
							</div>
							<div class="dvl-activity-code-setting" data-id="2">
								<textarea name="" id="" cols="30" rows="10"></textarea>
								<a class="btn" href="javascript:;" onclick="discountActivityCodeSetting();">保存</a>
							</div>
							<div class="dvl-booking-setting" data-id="3">
								<h5>可预订时间设置</h5>
								<div class="date" id="date">
									<input id="date-range0" type="text"> <em>-</em><input id="date-range1" type="text">
								</div>
								<h5>不可预订时间</h5>
								<div class="week">
									<p><input name="checkbox" type="checkbox" value="checkbox" checked="checked">星期一</p>
									<p><input type="checkbox">星期二</p>
									<p><input type="checkbox">星期三</p>
									<p><input type="checkbox">星期四</p>
									<p><input type="checkbox">星期五</p>
									<p><input type="checkbox">星期六</p>
									<p><input type="checkbox">星期日</p>
								</div>
								<h5>不可预订节假日</h5>
								<select name="" id="">
									<option value="">元旦</option>
									<option value="">春节</option>
									<option value="">元宵夜</option>
								</select>
								<a class="btn" href="javascript:;" onclick="discountBookingSetting();">保存</a>
							</div>
							<div class="dvl-css-setting" data-id="4">
								<h5>选择城市按钮颜色</h5>
								<div class="dvl-css-setting-colour">
									<input type="text" id="picker30">
								</div>
								<h5>选择城市字体颜色</h5>
								<div class="dvl-css-setting-colour">
									<input type="text" id="picker40">
								</div>
								<h5>价格颜色</h5>
								<div class="dvl-css-setting-colour">
									<input type="text" id="picker50">
								</div>
								<h5>酒店名称颜色</h5>
								<div class="dvl-css-setting-colour">
									<input type="text" id="picker60">
								</div>
								<h5>预订按钮颜色</h5>
								<div class="dvl-css-setting-colour">
									<input type="text" id="picker70">
								</div>
								<h5>酒店列表背景颜色</h5>
								<div class="dvl-css-setting-colour">
									<input type="text" id="picker80">
								</div>
								<h5>更多选择按钮颜色</h5>
								<div class="dvl-css-setting-colour">
									<input type="text" id="picker90">
								</div>
								<h5>更多选择按钮边框颜色</h5>
								<div class="dvl-css-setting-colour">
									<input type="text" id="picker100">
								</div>
								<h5>更多选择字体颜色</h5>
								<div class="dvl-css-setting-colour">
									<input type="text" id="picker110">
								</div>
								<a class="btn" href="javascript:;" onclick="discountColorSetting('.decorator-variable','.discount-wrapper',0);">保存</a>
							</div>
						</div>
					</div>
					<div class="decoratorN-variable variable">
						<h3>立减/折扣活动不限设置</h3>
						<ul>
							<li class="on">标题设置</li>
							<li>专区设置</li>
							<li>活动码设置</li>
							<li>预订时间</li>
							<li>自定义样式</li>
						</ul>
						<div class="decoratorN-variable-list">
							<div class="dvl-title-setting" data-id="0" style="display:block;">
								<h5>上传标题图片</h5>
								<div class="upload-img-big" style="    margin: 0;">
									<em></em>
									<em></em>
									<input type="file" onchange="preview(this,1048576)" accept="image/gif, image/jpeg" >
									<div class="add-img"></div>
								</div>
								<p>（建议选择宽度为640，高度不限，类型为jpg、png格式图片）</p>
								<h5>活动规则按钮</h5>
								<div class="upload-img" style="margin: 0;">
									<em></em>
									<em></em>
									<input name="" type="file" onchange="preview(this,1048576)" accept="image/gif, image/jpeg" >
									<div class="add-img"></div>
								</div>
								<p>（备注：上传图片规格为xxx*xxx，大小不超过xk）</p>
								<h5>规则弹窗标题</h5>
								<input class="rule-title" type="text">
								<h5>规则弹窗标题颜色</h5>
								<div class="rule-variable-colour">
									<input type="text" id="newpicker1">
								</div>
								<h5>活动规则内容</h5>
								<div id="newruleText1"></div>
								<a onclick="discountTitleSetting('.decoratorN-variable','.discountN-wrapper',1);" href="javascript:;" class="btn">保存</a>
							</div>
							<div class="dvl-prefecture-setting" data-id="1">
								<h5>显示城市选择</h5>
								<select name="" class="select-city">
									<option value="0">是</option>
									<option value="1">否</option>
								</select>
								<h5>默认显示城市</h5>
								<select name="" class="show-city">
									<option value="0">全国</option>
									<option value="1">广州</option>
									<option value="2">深圳</option>
									<option value="3">佛山</option>
								</select>
								<h5>酒店显示数量</h5>
								<select name="" id="">
									<option value="">2</option>
									<option value="">4</option>
									<option value="">6</option>
									<option value="">8</option>
								</select>
								<h5>显示行政区</h5>
								<select name="" class="show-canton">
									<option value="0">是</option>
									<option value="1">否</option>
								</select>
								<h5>酒店排序规则</h5>
								<select name="" id="">
									<option value="">价格由低到高</option>
									<option value="">价格由高到低</option>
									<option value="">7天销量+评价排序</option>
								</select>
								<h5>酒店更新规则</h5>
								<select name="" id="">
									<option value="">2小时更新</option>
									<option value="">无</option>
								</select>
								<h5>门店更新规则</h5>
								<div class="upload-img" style="margin:0;">
									<em></em>
									<em></em>
									<input type="file" onchange="preview(this,1048576)" accept="image/gif, image/jpeg" >
									<div class="add-img"></div>
								</div>
								<p>（备注：上传图片规格为xxx*xxx，大小不超过xk）</p>
								<h5>查看更多链接</h5>
								<input type="text" class="see-more-src">
								<a class="btn" href="javascript:;" onclick="discountPrefectureSetting('.decoratorN-variable','.discountN-wrapper');">保存</a>
							</div>
							<div class="dvl-activity-code-setting" data-id="2">
								<textarea name="" id="" cols="30" rows="10"></textarea>
								<a class="btn" href="javascript:;" onclick="discountActivityCodeSetting();">保存</a>
							</div>
							<div class="dvl-booking-setting" data-id="3">
								<h5>可预订时间设置</h5>
								<div class="date" id="date1">
									<input id="date-range1-0" type="text"> <em>-</em><input id="date-range1-1" type="text">
								</div>
								<h5>不可预订时间</h5>
								<div class="week">
									<p><input name="checkbox" type="checkbox" value="checkbox" checked="checked">星期一</p>
									<p><input type="checkbox">星期二</p>
									<p><input type="checkbox">星期三</p>
									<p><input type="checkbox">星期四</p>
									<p><input type="checkbox">星期五</p>
									<p><input type="checkbox">星期六</p>
									<p><input type="checkbox">星期日</p>
								</div>
								<h5>不可预订节假日</h5>
								<select name="" id="">
									<option value="">元旦</option>
									<option value="">春节</option>
									<option value="">元宵夜</option>
								</select>
								<a class="btn" href="javascript:;" onclick="discountBookingSetting();">保存</a>
							</div>
							<div class="dvl-css-setting" data-id="4">
								<h5>选择城市按钮颜色</h5>
								<div class="dvl-css-setting-colour">
									<input type="text" id="picker31">
								</div>
								<h5>选择城市字体颜色</h5>
								<div class="dvl-css-setting-colour">
									<input type="text" id="picker41">
								</div>
								<h5>价格颜色</h5>
								<div class="dvl-css-setting-colour">
									<input type="text" id="picker51">
								</div>
								<h5>酒店名称颜色</h5>
								<div class="dvl-css-setting-colour">
									<input type="text" id="picker61">
								</div>
								<h5>预订按钮颜色</h5>
								<div class="dvl-css-setting-colour">
									<input type="text" id="picker71">
								</div>
								<h5>酒店列表背景颜色</h5>
								<div class="dvl-css-setting-colour">
									<input type="text" id="picker81">
								</div>
								<h5>更多选择按钮颜色</h5>
								<div class="dvl-css-setting-colour">
									<input type="text" id="picker91">
								</div>
								<h5>更多选择按钮边框颜色</h5>
								<div class="dvl-css-setting-colour">
									<input type="text" id="picker101">
								</div>
								<h5>更多选择字体颜色</h5>
								<div class="dvl-css-setting-colour">
									<input type="text" id="picker111">
								</div>
								<a class="btn" href="javascript:;" onclick="discountColorSetting('.decoratorN-variable','.discountN-wrapper',1);">保存</a>
							</div>
						</div>
					</div>
					<div class="secondKill-variable variable">
						<h3>一口价设置</h3>
						<ul>
							<li class="on">标题设置</li>
							<li>专区设置</li>
							<li>活动码设置</li>
							<li>预订时间</li>
							<li>自定义样式</li>
						</ul>
						<div class="secondKill-variable-list">
							<div class="dvl-title-setting" data-id="0" style="display:block;">
								<h5>上传标题图片</h5>
								<div class="upload-img-big" style="margin: 0;">
									<em></em>
									<em></em>
									<input type="file" onchange="preview(this,1048576)" accept="image/gif, image/jpeg" >
									<div class="add-img"></div>
								</div>
								<p>（建议选择宽度为640，高度不限，类型为jpg、png格式图片）</p>
								<h5>活动规则按钮</h5>
								<div class="upload-img" style="margin: 0;">
									<em></em>
									<em></em>
									<input name="" type="file" onchange="preview(this,1048576)" accept="image/gif, image/jpeg" >
									<div class="add-img"></div>
								</div>
								<p>（备注：上传图片规格为xxx*xxx，大小不超过xk）</p>
								<h5>规则弹窗标题</h5>
								<input class="rule-title" type="text">
								<h5>规则弹窗标题颜色</h5>
								<div class="rule-variable-colour">
									<input type="text" id="newpicker2">
								</div>
								<h5>活动规则内容</h5>
								<div id="newruleText2"></div>
								<a onclick="discountTitleSetting('.secondKill-variable','.secondKill-wrapper',2);" href="javascript:;" class="btn">保存</a>
							</div>
							<div class="dvl-prefecture-setting" data-id="1">
								<h5>显示城市选择</h5>
								<select name="" class="select-city">
									<option value="0">是</option>
									<option value="1">否</option>
								</select>
								<h5>默认显示城市</h5>
								<select name="" class="show-city">
									<option value="0">全国</option>
									<option value="1">广州</option>
									<option value="2">深圳</option>
									<option value="3">佛山</option>
								</select>
								<h5>酒店显示数量</h5>
								<select name="" id="">
									<option value="">2</option>
									<option value="">4</option>
									<option value="">6</option>
									<option value="">8</option>
								</select>
								<h5>显示行政区</h5>
								<select name="" class="show-canton">
									<option value="0">是</option>
									<option value="1">否</option>
								</select>
								<h5>酒店排序规则</h5>
								<select name="" id="">
									<option value="">价格由低到高</option>
									<option value="">价格由高到低</option>
									<option value="">7天销量+评价排序</option>
								</select>
								<h5>酒店更新规则</h5>
								<select name="" id="">
									<option value="">2小时更新</option>
									<option value="">无</option>
								</select>
								<h5>门店更新规则</h5>
								<div class="upload-img" style="margin:0;">
									<em></em>
									<em></em>
									<input type="file" onchange="preview(this,1048576)" accept="image/gif, image/jpeg" >
									<div class="add-img"></div>
								</div>
								<p>（备注：上传图片规格为xxx*xxx，大小不超过xk）</p>
								<h5>查看更多链接</h5>
								<input type="text" class="see-more-src">
								<a class="btn" href="javascript:;" onclick="discountPrefectureSetting('secondKill-variable','.secondKill-wrapper');">保存</a>
							</div>
							<div class="dvl-activity-code-setting" data-id="2">
								<textarea name="" id="" cols="30" rows="10"></textarea>
								<a class="btn" href="javascript:;" onclick="discountActivityCodeSetting();">保存</a>
							</div>
							<div class="dvl-booking-setting" data-id="3">
								<h5>可预订时间设置</h5>
								<div class="date" id="date1">
									<input id="date-range1-0" type="text"> <em>-</em><input id="date-range1-1" type="text">
								</div>
								<h5>不可预订时间</h5>
								<div class="week">
									<p><input name="checkbox" type="checkbox" value="checkbox" checked="checked">星期一</p>
									<p><input type="checkbox">星期二</p>
									<p><input type="checkbox">星期三</p>
									<p><input type="checkbox">星期四</p>
									<p><input type="checkbox">星期五</p>
									<p><input type="checkbox">星期六</p>
									<p><input type="checkbox">星期日</p>
								</div>
								<h5>不可预订节假日</h5>
								<select name="" id="">
									<option value="">元旦</option>
									<option value="">春节</option>
									<option value="">元宵夜</option>
								</select>
								<a class="btn" href="javascript:;" onclick="discountBookingSetting();">保存</a>
							</div>
							<div class="dvl-css-setting" data-id="4">
								<h5>选择城市按钮颜色</h5>
								<div class="dvl-css-setting-colour">
									<input type="text" id="picker32">
								</div>
								<h5>选择城市字体颜色</h5>
								<div class="dvl-css-setting-colour">
									<input type="text" id="picker42">
								</div>
								<h5>价格颜色</h5>
								<div class="dvl-css-setting-colour">
									<input type="text" id="picker52">
								</div>
								<h5>酒店名称颜色</h5>
								<div class="dvl-css-setting-colour">
									<input type="text" id="picker62">
								</div>
								<h5>预订按钮颜色</h5>
								<div class="dvl-css-setting-colour">
									<input type="text" id="picker72">
								</div>
								<h5>酒店列表背景颜色</h5>
								<div class="dvl-css-setting-colour">
									<input type="text" id="picker82">
								</div>
								<h5>更多选择按钮颜色</h5>
								<div class="dvl-css-setting-colour">
									<input type="text" id="picker92">
								</div>
								<h5>更多选择按钮边框颜色</h5>
								<div class="dvl-css-setting-colour">
									<input type="text" id="picker102">
								</div>
								<h5>更多选择字体颜色</h5>
								<div class="dvl-css-setting-colour">
									<input type="text" id="picker112">
								</div>
								<a class="btn" href="javascript:;" onclick="discountColorSetting('.secondKill-variable','.secondKill-wrapper',2);">保存</a>
							</div>
						</div>
					</div>
					<div class="secondKillN-variable variable">
						<h3>一口价设置不限</h3>
						<ul>
							<li class="on">标题设置</li>
							<li>专区设置</li>
							<li>活动码设置</li>
							<li>预订时间</li>
							<li>自定义样式</li>
						</ul>
						<div class="secondKillN-variable-list">
							<div class="dvl-title-setting" data-id="0" style="display:block;">
								<h5>上传标题图片</h5>
								<div class="upload-img-big" style="margin: 0;">
									<em></em>
									<em></em>
									<input type="file" onchange="preview(this,1048576)" accept="image/gif, image/jpeg" >
									<div class="add-img"></div>
								</div>
								<p>（建议选择宽度为640，高度不限，类型为jpg、png格式图片）</p>
								<h5>活动规则按钮</h5>
								<div class="upload-img" style="margin: 0;">
									<em></em>
									<em></em>
									<input name="" type="file" onchange="preview(this,1048576)" accept="image/gif, image/jpeg" >
									<div class="add-img"></div>
								</div>
								<p>（备注：上传图片规格为xxx*xxx，大小不超过xk）</p>
								<h5>规则弹窗标题</h5>
								<input class="rule-title" type="text">
								<h5>规则弹窗标题颜色</h5>
								<div class="rule-variable-colour">
									<input type="text" id="newpicker3">
								</div>
								<h5>活动规则内容</h5>
								<div id="newruleText3"></div>
								<a onclick="discountTitleSetting('.secondKillN-variable','.secondKillN-wrapper',3);" href="javascript:;" class="btn">保存</a>
							</div>
							<div class="dvl-prefecture-setting" data-id="1">
								<h5>显示城市选择</h5>
								<select name="" class="select-city">
									<option value="0">是</option>
									<option value="1">否</option>
								</select>
								<h5>默认显示城市</h5>
								<select name="" class="show-city">
									<option value="0">全国</option>
									<option value="1">广州</option>
									<option value="2">深圳</option>
									<option value="3">佛山</option>
								</select>
								<h5>酒店显示数量</h5>
								<select name="" id="">
									<option value="">2</option>
									<option value="">4</option>
									<option value="">6</option>
									<option value="">8</option>
								</select>
								<h5>显示行政区</h5>
								<select name="" class="show-canton">
									<option value="0">是</option>
									<option value="1">否</option>
								</select>
								<h5>酒店排序规则</h5>
								<select name="" id="">
									<option value="">价格由低到高</option>
									<option value="">价格由高到低</option>
									<option value="">7天销量+评价排序</option>
								</select>
								<h5>酒店更新规则</h5>
								<select name="" id="">
									<option value="">2小时更新</option>
									<option value="">无</option>
								</select>
								<h5>门店更新规则</h5>
								<div class="upload-img" style="margin:0;">
									<em></em>
									<em></em>
									<input type="file" onchange="preview(this,1048576)" accept="image/gif, image/jpeg" >
									<div class="add-img"></div>
								</div>
								<p>（备注：上传图片规格为xxx*xxx，大小不超过xk）</p>
								<h5>查看更多链接</h5>
								<input type="text" class="see-more-src">
								<a class="btn" href="javascript:;" onclick="discountPrefectureSetting('secondKillN-variable','.secondKillN-wrapper');">保存</a>
							</div>
							<div class="dvl-activity-code-setting" data-id="2">
								<textarea name="" id="" cols="30" rows="10"></textarea>
								<a class="btn" href="javascript:;" onclick="discountActivityCodeSetting();">保存</a>
							</div>
							<div class="dvl-booking-setting" data-id="3">
								<h5>可预订时间设置</h5>
								<div class="date" id="date1">
									<input id="date-range1-0" type="text"> <em>-</em><input id="date-range1-1" type="text">
								</div>
								<h5>不可预订时间</h5>
								<div class="week">
									<p><input name="checkbox" type="checkbox" value="checkbox" checked="checked">星期一</p>
									<p><input type="checkbox">星期二</p>
									<p><input type="checkbox">星期三</p>
									<p><input type="checkbox">星期四</p>
									<p><input type="checkbox">星期五</p>
									<p><input type="checkbox">星期六</p>
									<p><input type="checkbox">星期日</p>
								</div>
								<h5>不可预订节假日</h5>
								<select name="" id="">
									<option value="">元旦</option>
									<option value="">春节</option>
									<option value="">元宵夜</option>
								</select>
								<a class="btn" href="javascript:;" onclick="discountBookingSetting();">保存</a>
							</div>
							<div class="dvl-css-setting" data-id="4">
								<h5>选择城市按钮颜色</h5>
								<div class="dvl-css-setting-colour">
									<input type="text" id="picker33">
								</div>
								<h5>选择城市字体颜色</h5>
								<div class="dvl-css-setting-colour">
									<input type="text" id="picker43">
								</div>
								<h5>价格颜色</h5>
								<div class="dvl-css-setting-colour">
									<input type="text" id="picker53">
								</div>
								<h5>酒店名称颜色</h5>
								<div class="dvl-css-setting-colour">
									<input type="text" id="picker63">
								</div>
								<h5>预订按钮颜色</h5>
								<div class="dvl-css-setting-colour">
									<input type="text" id="picker73">
								</div>
								<h5>酒店列表背景颜色</h5>
								<div class="dvl-css-setting-colour">
									<input type="text" id="picker83">
								</div>
								<h5>更多选择按钮颜色</h5>
								<div class="dvl-css-setting-colour">
									<input type="text" id="picker93">
								</div>
								<h5>更多选择按钮边框颜色</h5>
								<div class="dvl-css-setting-colour">
									<input type="text" id="picker103">
								</div>
								<h5>更多选择字体颜色</h5>
								<div class="dvl-css-setting-colour">
									<input type="text" id="picker113">
								</div>
								<a class="btn" href="javascript:;" onclick="discountColorSetting('.secondKillN-variable','.secondKillN-wrapper',3);">保存</a>
							</div>
						</div>
					</div>
					<div class="themeRoom-variable variable">
						<h3>主题房设置</h3>
						<ul>
							<li class="on">标题设置</li>
							<li>专区设置</li>
							<li>活动码设置</li>
							<li>预订时间</li>
							<li>自定义样式</li>
						</ul>
						<div class="themeRoom-variable-list">
							<div class="dvl-title-setting" data-id="0" style="display:block;">
								<h5>上传标题图片</h5>
								<div class="upload-img-big" style="margin: 0;">
									<em></em>
									<em></em>
									<input type="file" onchange="preview(this,1048576)" accept="image/gif, image/jpeg" >
									<div class="add-img"></div>
								</div>
								<p>（建议选择宽度为640，高度不限，类型为jpg、png格式图片）</p>
								<h5>活动规则按钮</h5>
								<div class="upload-img" style="margin: 0;">
									<em></em>
									<em></em>
									<input name="" type="file" onchange="preview(this,1048576)" accept="image/gif, image/jpeg" >
									<div class="add-img"></div>
								</div>
								<p>（备注：上传图片规格为xxx*xxx，大小不超过xk）</p>
								<h5>规则弹窗标题</h5>
								<input class="rule-title" type="text">
								<h5>规则弹窗标题颜色</h5>
								<div class="rule-variable-colour">
									<input type="text" id="newpicker4">
								</div>
								<h5>活动规则内容</h5>
								<div id="newruleText4"></div>
								<a onclick="discountTitleSetting('.themeRoom-variable','.themeRoom-wrapper',4);" href="javascript:;" class="btn">保存</a>
							</div>
							<div class="dvl-prefecture-setting" data-id="1">
								<h5>显示城市选择</h5>
								<select name="" class="select-city">
									<option value="0">是</option>
									<option value="1">否</option>
								</select>
								<h5>默认显示城市</h5>
								<select name="" class="show-city">
									<option value="0">全国</option>
									<option value="1">广州</option>
									<option value="2">深圳</option>
									<option value="3">佛山</option>
								</select>
								<h5>酒店显示数量</h5>
								<select name="" id="">
									<option value="">2</option>
									<option value="">4</option>
									<option value="">6</option>
									<option value="">8</option>
								</select>
								<h5>显示行政区</h5>
								<select name="" class="show-canton">
									<option value="0">是</option>
									<option value="1">否</option>
								</select>
								<h5>酒店排序规则</h5>
								<select name="" id="">
									<option value="">价格由低到高</option>
									<option value="">价格由高到低</option>
									<option value="">7天销量+评价排序</option>
								</select>
								<h5>酒店更新规则</h5>
								<select name="" id="">
									<option value="">2小时更新</option>
									<option value="">无</option>
								</select>
								<h5>门店更新规则</h5>
								<div class="upload-img" style="margin:0;">
									<em></em>
									<em></em>
									<input type="file" onchange="preview(this,1048576)" accept="image/gif, image/jpeg" >
									<div class="add-img"></div>
								</div>
								<p>（备注：上传图片规格为xxx*xxx，大小不超过xk）</p>
								<h5>查看更多链接</h5>
								<input type="text" class="see-more-src">
								<a class="btn" href="javascript:;" onclick="discountPrefectureSetting('themeRoom-variable','.themeRoom-wrapper');">保存</a>
							</div>
							<div class="dvl-activity-code-setting" data-id="2">
								<textarea name="" id="" cols="30" rows="10"></textarea>
								<a class="btn" href="javascript:;" onclick="discountActivityCodeSetting();">保存</a>
							</div>
							<div class="dvl-booking-setting" data-id="3">
								<h5>可预订时间设置</h5>
								<div class="date" id="date1">
									<input id="date-range1-0" type="text"> <em>-</em><input id="date-range1-1" type="text">
								</div>
								<h5>不可预订时间</h5>
								<div class="week">
									<p><input name="checkbox" type="checkbox" value="checkbox" checked="checked">星期一</p>
									<p><input type="checkbox">星期二</p>
									<p><input type="checkbox">星期三</p>
									<p><input type="checkbox">星期四</p>
									<p><input type="checkbox">星期五</p>
									<p><input type="checkbox">星期六</p>
									<p><input type="checkbox">星期日</p>
								</div>
								<h5>不可预订节假日</h5>
								<select name="" id="">
									<option value="">元旦</option>
									<option value="">春节</option>
									<option value="">元宵夜</option>
								</select>
								<a class="btn" href="javascript:;" onclick="discountBookingSetting();">保存</a>
							</div>
							<div class="dvl-css-setting" data-id="4">
								<h5>选择城市按钮颜色</h5>
								<div class="dvl-css-setting-colour">
									<input type="text" id="picker34">
								</div>
								<h5>选择城市字体颜色</h5>
								<div class="dvl-css-setting-colour">
									<input type="text" id="picker44">
								</div>
								<h5>价格颜色</h5>
								<div class="dvl-css-setting-colour">
									<input type="text" id="picker54">
								</div>
								<h5>酒店名称颜色</h5>
								<div class="dvl-css-setting-colour">
									<input type="text" id="picker64">
								</div>
								<h5>预订按钮颜色</h5>
								<div class="dvl-css-setting-colour">
									<input type="text" id="picker74">
								</div>
								<h5>酒店列表背景颜色</h5>
								<div class="dvl-css-setting-colour">
									<input type="text" id="picker84">
								</div>
								<h5>更多选择按钮颜色</h5>
								<div class="dvl-css-setting-colour">
									<input type="text" id="picker94">
								</div>
								<h5>更多选择按钮边框颜色</h5>
								<div class="dvl-css-setting-colour">
									<input type="text" id="picker104">
								</div>
								<h5>更多选择字体颜色</h5>
								<div class="dvl-css-setting-colour">
									<input type="text" id="picker114">
								</div>
								<a class="btn" href="javascript:;" onclick="discountColorSetting('.themeRoom-variable','.themeRoom-wrapper',4);">保存</a>
							</div>
						</div>
					</div>
					<div class="themeRoomN-variable variable">
						<h3>主题房不限设置</h3>
						<ul>
							<li class="on">标题设置</li>
							<li>专区设置</li>
							<li>活动码设置</li>
							<li>预订时间</li>
							<li>自定义样式</li>
						</ul>
						<div class="themeRoomN-variable-list">
							<div class="dvl-title-setting" data-id="0" style="display:block;">
								<h5>上传标题图片</h5>
								<div class="upload-img-big" style="margin: 0;">
									<em></em>
									<em></em>
									<input type="file" onchange="preview(this,1048576)" accept="image/gif, image/jpeg" >
									<div class="add-img"></div>
								</div>
								<p>（建议选择宽度为640，高度不限，类型为jpg、png格式图片）</p>
								<h5>活动规则按钮</h5>
								<div class="upload-img" style="margin: 0;">
									<em></em>
									<em></em>
									<input name="" type="file" onchange="preview(this,1048576)" accept="image/gif, image/jpeg" >
									<div class="add-img"></div>
								</div>
								<p>（备注：上传图片规格为xxx*xxx，大小不超过xk）</p>
								<h5>规则弹窗标题</h5>
								<input class="rule-title" type="text">
								<h5>规则弹窗标题颜色</h5>
								<div class="rule-variable-colour">
									<input type="text" id="newpicker5">
								</div>
								<h5>活动规则内容</h5>
								<div id="newruleText5"></div>
								<a onclick="discountTitleSetting('.themeRoomN-variable','.themeRoomN-wrapper',5);" href="javascript:;" class="btn">保存</a>
							</div>
							<div class="dvl-prefecture-setting" data-id="1">
								<h5>显示城市选择</h5>
								<select name="" class="select-city">
									<option value="0">是</option>
									<option value="1">否</option>
								</select>
								<h5>默认显示城市</h5>
								<select name="" class="show-city">
									<option value="0">全国</option>
									<option value="1">广州</option>
									<option value="2">深圳</option>
									<option value="3">佛山</option>
								</select>
								<h5>酒店显示数量</h5>
								<select name="" id="">
									<option value="">2</option>
									<option value="">4</option>
									<option value="">6</option>
									<option value="">8</option>
								</select>
								<h5>显示行政区</h5>
								<select name="" class="show-canton">
									<option value="0">是</option>
									<option value="1">否</option>
								</select>
								<h5>酒店排序规则</h5>
								<select name="" id="">
									<option value="">价格由低到高</option>
									<option value="">价格由高到低</option>
									<option value="">7天销量+评价排序</option>
								</select>
								<h5>酒店更新规则</h5>
								<select name="" id="">
									<option value="">2小时更新</option>
									<option value="">无</option>
								</select>
								<h5>门店更新规则</h5>
								<div class="upload-img" style="margin:0;">
									<em></em>
									<em></em>
									<input type="file" onchange="preview(this,1048576)" accept="image/gif, image/jpeg" >
									<div class="add-img"></div>
								</div>
								<p>（备注：上传图片规格为xxx*xxx，大小不超过xk）</p>
								<h5>查看更多链接</h5>
								<input type="text" class="see-more-src">
								<a class="btn" href="javascript:;" onclick="discountPrefectureSetting('themeRoomN-variable','.themeRoomN-wrapper');">保存</a>
							</div>
							<div class="dvl-activity-code-setting" data-id="2">
								<textarea name="" id="" cols="30" rows="10"></textarea>
								<a class="btn" href="javascript:;" onclick="discountActivityCodeSetting();">保存</a>
							</div>
							<div class="dvl-booking-setting" data-id="3">
								<h5>可预订时间设置</h5>
								<div class="date" id="date1">
									<input id="date-range1-0" type="text"> <em>-</em><input id="date-range1-1" type="text">
								</div>
								<h5>不可预订时间</h5>
								<div class="week">
									<p><input name="checkbox" type="checkbox" value="checkbox" checked="checked">星期一</p>
									<p><input type="checkbox">星期二</p>
									<p><input type="checkbox">星期三</p>
									<p><input type="checkbox">星期四</p>
									<p><input type="checkbox">星期五</p>
									<p><input type="checkbox">星期六</p>
									<p><input type="checkbox">星期日</p>
								</div>
								<h5>不可预订节假日</h5>
								<select name="" id="">
									<option value="">元旦</option>
									<option value="">春节</option>
									<option value="">元宵夜</option>
								</select>
								<a class="btn" href="javascript:;" onclick="discountBookingSetting();">保存</a>
							</div>
							<div class="dvl-css-setting" data-id="4">
								<h5>选择城市按钮颜色</h5>
								<div class="dvl-css-setting-colour">
									<input type="text" id="picker35">
								</div>
								<h5>选择城市字体颜色</h5>
								<div class="dvl-css-setting-colour">
									<input type="text" id="picker45">
								</div>
								<h5>价格颜色</h5>
								<div class="dvl-css-setting-colour">
									<input type="text" id="picker55">
								</div>
								<h5>酒店名称颜色</h5>
								<div class="dvl-css-setting-colour">
									<input type="text" id="picker65">
								</div>
								<h5>预订按钮颜色</h5>
								<div class="dvl-css-setting-colour">
									<input type="text" id="picker75">
								</div>
								<h5>酒店列表背景颜色</h5>
								<div class="dvl-css-setting-colour">
									<input type="text" id="picker85">
								</div>
								<h5>更多选择按钮颜色</h5>
								<div class="dvl-css-setting-colour">
									<input type="text" id="picker95">
								</div>
								<h5>更多选择按钮边框颜色</h5>
								<div class="dvl-css-setting-colour">
									<input type="text" id="picker105">
								</div>
								<h5>更多选择字体颜色</h5>
								<div class="dvl-css-setting-colour">
									<input type="text" id="picker115">
								</div>
								<a class="btn" href="javascript:;" onclick="discountColorSetting('.themeRoomN-variable','.themeRoomN-wrapper',5);">保存</a>
							</div>
						</div>
					</div>
					<div class="one-img-variable variable">
						<h3>一图模块设置</h3>
						<div class="one-img-variable-list">
							<div class="oivl-setting" data-id="1" style="display:block;">
								<h5>显示渠道</h5>
								<div class="terminal">
									<p><input class="wx" type="checkbox">微信端</p>
									<p><input class="app" type="checkbox">APP</p>
								</div>
								<h5>图一</h5>
								<div class="upload-img-big" style="margin:0;">
									<em></em>
									<em></em>
									<input type="file" onchange="preview(this,1048576)" accept="image/gif, image/jpeg" >
									<div class="add-img"></div>
								</div>
								<p>备注：图片大小不超过100k</p>
								<h5>微信跳转链接</h5>
								<input class="wx-src" type="text">
								<h5>APP跳转链接</h5>
								<input class="app-scr" type="text">
								<a href="javascript:;" class="btn" onclick="oneImgSetting();">保存</a>
							</div>
						</div>
					</div>
					<div class="two-img-variable variable">
						<h3>二图模块设置</h3>
						<ul>
							<li class="on">标题设置</li>
							<li>图片设置</li>
						</ul>
						<div class="two-img-variable-list">
							<div class="oivl-setting rule-variable" data-id="0" style="display:block;">
								<h5>上传标题图片</h5>
								<div class="upload-img-big title-img" style="margin:0;">
									<em></em>
									<em></em>
									<input type="file" onchange="preview(this,1048576)" accept="image/gif, image/jpeg" >
									<div class="add-img"></div>
								</div>
								<p>（建议选择宽度为640，高度不限，类型为jpg、png格式图片）</p>
								<h5>活动规则按钮</h5>
								<div class="upload-img activity-rule-img" style="margin:0;">
									<em></em>
									<em></em>
									<input type="file" onchange="preview(this,52000)" accept="image/gif, image/jpeg" >
									<div class="add-img"></div>
								</div>
								<p>（备注：上传图片规格为1X1，大小不超过50k）</p>
								<h5>规则弹窗标题</h5>
								<input class="two-img-rule-tilte" type="text">
								<h5>规则弹窗标题颜色</h5>
								<div class="rule-variable-colour">
									<input type="text" id="picker12">
								</div>
								<h5>活动规则内容</h5>
								<div id="ruleText3"></div>
								<a href="javascript:;" class="btn" onclick="twoTitleSetting();">保存</a>
							</div>
							<div class="oivl-setting" data-id="1">
								<h5>显示渠道</h5>
								<div class="terminal">
									<p><input class="wx" type="checkbox">微信端</p>
									<p><input class="app" type="checkbox">APP</p>
								</div>
								<h5>图一</h5>
								<div class="upload-img-big one" style="margin:0;">
									<em></em>
									<em></em>
									<input type="file" onchange="preview(this,1048576)" accept="image/gif, image/jpeg" >
									<div class="add-img"></div>
								</div>
								<p>备注：图片大小不超过100k</p>
								<h5>微信跳转链接</h5>
								<input type="text" class="wxl">
								<h5>APP跳转链接</h5>
								<input type="text" class="appl">
								<h5>图二</h5>
								<div class="upload-img-big two" style="margin:0;">
									<em></em>
									<em></em>
									<input type="file" onchange="preview(this,1048576)" accept="image/gif, image/jpeg" >
									<div class="add-img"></div>
								</div>
								<p>备注：图片大小不超过100k</p>
								<h5>微信跳转链接</h5>
								<input type="text" class="wxr">
								<h5>APP跳转链接</h5>
								<input type="text" class="appr">
								<a href="javascript:;" class="btn" onclick="twoImgSetting();">保存</a>
							</div>
						</div>
					</div>
					<div class="footer-variable variable">
						<h3>底部栏设置</h3>
						<h5>返回顶部图片</h5>
						<div class="upload-img" style="margin:0;">
							<em></em>
							<em></em>
							<input type="file" onchange="preview(this,51200)" accept="image/gif, image/jpeg" >
							<div class="add-img"></div>
						</div>
						<p>图片大小不超过50K</p>
						<a href="javascript:;" class="btn" onclick="footerSetting();">保存</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="../plugins/jquery/jquery-3.1.1.min.js"></script>
	<!-- <script src="../plugins/jquery/jquery-1.10.1.min.js"></script> -->
	<script src="../scripts/common.js"></script>
	<script src="../plugins/colpick/colpick.js"></script>
	<script src="../scripts/activity-manage.js"></script>
	<script src="../plugins/wangEditor/wangEditor.min.js"></script>
	<script src="../plugins/swiper/swiper-4.2.0.min.js"></script>
	<script src="../plugins/moment.js"></script>
	<script src="../plugins/jquery-date-range-picker-master/src/jquery.daterangepicker.js"></script>
	<script>
		//左导航切换
		$(".decorator-side-bar li").on("click",function(){
			var dataId=$(this).index()+1;
			$(this).addClass("on").siblings().removeClass("on");
			$(".decorator-right-content>div").hide();
			$('.decorator-right-content>div[data-id="'+dataId+'"]').show();
			if(dataId==2){
				$(this).parent().next().show();
			}else{
				$(this).parent().next().hide();
			}
		});
		/**
		 * 选择颜色控件
		 */
		$('#picker').colpick({
			layout: 'hex',
			submit: 0,
			colorScheme: 'dark',
			onChange: function(hsb, hex, rgb, el, bySetColor) {
				$(el).css('border-color', '#' + hex);
				// Fill the text box just if the color was set using the picker, and not the colpickSetColor function.
				if (!bySetColor) $(el).val('#' + hex);
			}
		}).keyup(function() {
			$(this).colpickSetColor(this.value);
		});
		$('#picker1,#picker30,#picker40,#picker50,#picker60,#picker70,#picker80,#picker90,#picker100,#picker110,#picker31,#picker41,#picker51,#picker61,#picker71,#picker81,#picker91,#picker101,#picker111,#picker32,#picker42,#picker52,#picker62,#picker72,#picker82,#picker92,#picker102,#picker112,#picker33,#picker43,#picker53,#picker63,#picker73,#picker83,#picker93,#picker103,#picker113,#picker34,#picker44,#picker54,#picker64,#picker74,#picker84,#picker94,#picker104,#picker114,#picker35,#picker45,#picker55,#picker65,#picker75,#picker85,#picker95,#picker105,#picker115,#picker12,#newpicker0,#newpicker1,#newpicker2,#newpicker3,#newpicker4,#newpicker5').colpick({
			layout: 'hex',
			submit: 0,
			colorScheme: 'dark',
			onChange: function(hsb, hex, rgb, el, bySetColor) {
				$(el).css('border-color', '#' + hex);
				// Fill the text box just if the color was set using the picker, and not the colpickSetColor function.
				if (!bySetColor) $(el).val('#' + hex);
			}
		}).keyup(function() {
			$(this).colpickSetColor(this.value);
		});
		/**
		*模块 数组 方法
		*/
		var moduleObject=[
		 	{id:1,moduleFun:bannerSettings},
			{id:2,moduleFun:discount},
			{id:3,moduleFun:discountN},
			{id:4,moduleFun:secondKill},
			{id:5,moduleFun:secondKillN},
			{id:6,moduleFun:themeRoom},
			{id:7,moduleFun:themeRoomN},
			{id:8,moduleFun:oneImg},
			{id:9,moduleFun:twoImg},
			{id:10,moduleFun:footerColumn}		 
		]		
		$(".decorator-side-bar .list dd").on("click",function(){
			var dataId=parseInt($(this).attr('data-id'));
			moduleObject.map(function(item){	
				if(item.id==dataId){
					item.moduleFun();
				}
			});
			//排序
			var wrapperAddId=$iframe.contents().find(".wrapper>div");
			wrapperAddId.map(function(index,el){
				$(el).attr("data-id",index);	
			});
			
			//获取warpper高度
			setHeight();
		})	
		/**
		*banner设置 添加图片
		*/
		addImgInit(0,1);
		/**
		*规则设置 文本编辑器
		*/
		var E = window.wangEditor
		var editor2 = new E('#ruleText')
		editor2.create()
		// var editor1 = new E('#ruleText1')
		// editor1.create()
		// var editor4 = new E('#ruleText2')
		// editor4.create()
		var editor5 = new E('#ruleText3')
		editor5.create()


		var newEditor0 = new E('#newruleText0')
		newEditor0.create();

		var newEditor1 = new E('#newruleText1')
		newEditor1.create();

		var newEditor2 = new E('#newruleText2')
		newEditor2.create();

		var newEditor3 = new E('#newruleText3')
		newEditor3.create();

		var newEditor4 = new E('#newruleText4')
		newEditor4.create();

		var newEditor5 = new E('#newruleText5')
		newEditor5.create();

		/***banner设置 切换*/
		tabSwitch('.banner-rule-variable ul li','.variable-all>div')	
		/**立减/折扣活动设置 切换*/
		tabSwitch('.decorator-variable > ul li','.decorator-variable-list>div');
		tabSwitch('.decoratorN-variable > ul li','.decoratorN-variable-list>div');
		/**一口价设置 切换*/
		tabSwitch('.secondKill-variable > ul li','.secondKill-variable-list>div');
		tabSwitch('.secondKillN-variable > ul li','.secondKillN-variable-list>div');
		/**主题房设置 切换*/
		tabSwitch('.themeRoom-variable > ul li','.themeRoom-variable-list>div');
		tabSwitch('.themeRoomN-variable > ul li','.themeRoomN-variable-list>div');
		/***一图二图设置 切换*/
		tabSwitch('.one-img-variable > ul li','.one-img-variable-list>div');
		tabSwitch('.two-img-variable > ul li','.two-img-variable-list>div');
		// 日历
		$('#date').dateRangePicker({
			autoClose: true,
			format: 'MM-DD',
			separator: ' to ',
			language: 'cn',
			startOfWeek: 'sunday',
			startDate: new Date(),  //默认今天开始
	        getValue: function()
			{
				if ($('#date-range0').val() && $('#date-range1').val() )
					return $('#date-range0').val() + ' to ' + $('#date-range1').val();
				else
					return '';
			},
			setValue: function(s,s1,s2)
			{
				$('#date-range0').val(s1);
				$('#date-range1').val(s2);
			}
		});
		$('#date1').dateRangePicker({
			autoClose: true,
			format: 'MM-DD',
			separator: ' to ',
			language: 'cn',
			startOfWeek: 'sunday',
			startDate: new Date(),  //默认今天开始
	        getValue: function()
			{
				if ($('#date-range1-0').val() && $('#date-range1-1').val() )
					return $('#date-range1-0').val() + ' to ' + $('#date-range1-1').val();
				else
					return '';
			},
			setValue: function(s,s1,s2)
			{
				$('#date-range1-0').val(s1);
				$('#date-range1-1').val(s2);
			}
		});
	</script>
</body>
</html>